@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Slackey&display=swap');
@import "tailwindcss";

/* custom tailwind styles */
@theme {
  --color-brand-dark: #071a03;
  --color-brand-accent: #d6ae2f;
  --font-brand: "Plus Jakarta Sans", sans-serif;
  
  /* Light Blue Family */
  --color-light-blue: #a8d5e2;
  --color-light-blue-100: #14323b;
  --color-light-blue-200: #276576;
  --color-light-blue-300: #3b97b1;
  --color-light-blue-400: #6cb9ce;
  --color-light-blue-500: #a8d5e2;
  --color-light-blue-600: #b9dde8;
  --color-light-blue-700: #cae6ed;
  --color-light-blue-800: #dceef3;
  --color-light-blue-900: #edf7f9;

  /* Orange Family */
  --color-orange: #f9a620;
  --color-orange-100: #372201;
  --color-orange-200: #6d4503;
  --color-orange-300: #a46704;
  --color-orange-400: #db8906;
  --color-orange-500: #f9a620;
  --color-orange-600: #fab84c;
  --color-orange-700: #fcc979;
  --color-orange-800: #fddba5;
  --color-orange-900: #feedd2;

  /* Mustard Family */
  --color-mustard: #ffd449;
  --color-mustard-100: #413200;
  --color-mustard-200: #836400;
  --color-mustard-300: #c49600;
  --color-mustard-400: #ffc506;
  --color-mustard-500: #ffd449;
  --color-mustard-600: #ffdd6c;
  --color-mustard-700: #ffe591;
  --color-mustard-800: #ffeeb6;
  --color-mustard-900: #fff6da;

  /* Forest Green Family */
  --color-forest-green: #548c2f;
  --color-forest-green-100: #111c09;
  --color-forest-green-200: #223913;
  --color-forest-green-300: #33551c;
  --color-forest-green-400: #447126;
  --color-forest-green-500: #548c2f;
  --color-forest-green-600: #72be3f;
  --color-forest-green-700: #95cf6e;
  --color-forest-green-800: #b8df9f;
  --color-forest-green-900: #dcefcf;

  /* Black Forest Family */
  --color-black-forest: #104911;
  --color-black-forest-100: #030e03;
  --color-black-forest-200: #061c07;
  --color-black-forest-300: #092b0a;
  --color-black-forest-400: #0c390d;
  --color-black-forest-500: #104911;
  --color-black-forest-600: #1f8d21;
  --color-black-forest-700: #2fd131;
  --color-black-forest-800: #74e176;
  --color-black-forest-900: #baf0ba;

  /* New theme to test*/
  --color-primary: #064e3b;
  --color-primary-light: #065f46;
  --color-primary-dark: #022c22;

  /* Secondary: Muted Slate to balance the green */
  --color-secondary: #334155;
  
  /* Accent: Harvest Gold (Perfect for buttons/links) */
  --color-accent: #d97706;
  --color-accent-hover: #b45309;

  /* Neutrals: Clean and professional */
  --color-surface: #f8fafc;    /* Light grayish-blue tint */
  --color-ink: #0f172a;        /* Deep navy-black for text */
  --color-muted: #64748b;
}
