@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Slackey&display=swap');
@import "tailwindcss";

/* custom tailwind styles */
@theme {
  --font-brand: "Plus Jakarta Sans", sans-serif;

  /* New theme to test*/
  --color-primary: #064e3b;
  --color-primary-light: #065f46;
  --color-primary-dark: #022c22;

  /* Secondary: Muted Slate to balance the green */
  --color-secondary: #334155;
  
  /* Accent: Harvest Gold (Perfect for buttons/links) */
  --color-accent: #d97706;
  --color-accent-hover: #b45309;

  /* Neutrals: Clean and professional */
  --color-surface: #f8fafc;    /* Light grayish-blue tint */
  --color-ink: #0f172a;        /* Deep navy-black for text */
  --color-muted: #64748b;
}
