---
// dog-training-classes.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import seniorDog from "../assets/services/senior-visit.jpg";
import schoolDog from "../assets/services/kid-dog-services.jpg";
import Button from "../components/Button.astro";

const registrationLink =
  "https://docs.google.com/document/d/1JdsBjQdPSqAgzqrLwaPaKG2dyvewv_a1sDMxIK1Vvp8/edit?usp=sharing";
---

<BaseLayout>
  <article class="pb-24 mt-23 mx-auto">
    <header
      class="flex flex-col-reverse md:flex-row justify-between gap-4 bg-gray-200"
    >
      <div
        class="w-full px-6 pt-6 pb-10 flex flex-col items-center justify-center"
      >
        <h1 class="text-4xl font-bold text-slate-900 max-w-xl mx-auto">
          Professional Animal-Assisted Interventions
        </h1>
        <p class="text-lg text-slate-600 mt-4 max-w-xl">
          Leveraging the power of the human-animal bond to deliver dynamic
          physical, cognitive, and psychosocial benefits across Massachusetts.
        </p>
        <div class="mt-6 m-w-xl">
          <Button class="whitespace-nowrap" href="contact"
            >Schedule a Visit</Button
          >
        </div>
      </div>
      <Image
        src={seniorDog}
        alt="A senior woman smiling, petting an AATS MA therapy dog"
        class="object-cover md:max-w-[50%] h-120"
      />
    </header>

    <section>
      <h2 class="text-4xl font-bold text-slate-900 text-center mt-8">
        Why Choose Us?
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 my-12">
        <div class="p-6 border border-slate-200 rounded-xl bg-slate-50">
          <div class="text-blue-600 text-2xl mb-3 mx-auto w-20">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"
              ><!--!Font Awesome Pro v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2026 Fonticons, Inc.-->
              <path
                class="fill-accent-dark"
                d="M128.1 190L320 115.5L512 190C513 233.5 505.1 296.9 478.2 358.8C450 423.7 401.1 486.5 320.1 523.6C239 486.5 190.2 423.7 162 358.8C135.1 296.9 127.2 233.5 128.2 190zM559.5 177L558.3 156.5L539.1 149L331.6 68.5L320 64L308.5 68.5L101 149L81.8 156.5L80.6 177C77.7 226.9 85.5 303.3 117.9 377.9C150.6 453.1 208.9 527.9 307.3 570.5L320 576L332.7 570.5C431.1 527.9 489.4 453.2 522.1 377.9C554.5 303.2 562.3 226.9 559.4 177zM224.9 334.2L208 368L336 432L336 368L384 368C428.2 368 464 332.2 464 288L464 240L384 240L368 208L304 208L304 272C304 307.3 275.3 336 240 336C234.8 336 229.7 335.4 224.9 334.2zM208 208L208 272C208 289.7 222.3 304 240 304C257.7 304 272 289.7 272 272L272 208L208 208zM320 256C320 247.2 327.2 240 336 240C344.8 240 352 247.2 352 256C352 264.8 344.8 272 336 272C327.2 272 320 264.8 320 256z"
              ></path></svg
            >
          </div>
          <h3 class="font-bold text-xl mb-2">Comprehensive Insurance</h3>
          <p class="text-sm text-slate-600">
            Our thorough policy permits both off- and on-leash therapeutic
            experiences indoors and outdoors (such as local trails or parks).
          </p>
        </div>

        <div class="p-6 border border-slate-200 rounded-xl bg-slate-50">
          <div class="text-blue-600 text-2xl mb-3 mx-auto w-20">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"
              ><!--!Font Awesome Pro v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2026 Fonticons, Inc.-->
              <path
                class="fill-accent-dark"
                d="M320 80L608 208L608 240L320 368L80 261.3L80 544L32 544L32 208L320 80zM128 335.2L300.5 411.9L320 420.6L339.5 411.9L512 335.2L512 448C512 501 426 544 320 544C214 544 128 501 128 448L128 335.2z"
              ></path></svg
            >
          </div>
          <h3 class="font-bold text-xl mb-2">Rigorous Training</h3>
          <p class="text-sm text-slate-600">
            Our teams undergo up to a year of intensive distraction training in
            medical and educational settings, with mandatory biennial
            re-evaluations.
          </p>
        </div>

        <div class="p-6 border border-slate-200 rounded-xl bg-slate-50">
          <div class="text-blue-600 text-2xl mb-3 mx-auto w-20 text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"
              ><!--!Font Awesome Pro v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2026 Fonticons, Inc.-->
              <path
                class="fill-accent-dark"
                d="M208 64L432 64L432 160L576 160L576 544L64 544L64 160L208 160L208 64zM384 112L256 112L256 160L384 160L384 112zM288 264L288 320L232 320L232 384L288 384L288 440L352 440L352 384L408 384L408 320L352 320L352 264L288 264z"
              ></path></svg
            >
          </div>
          <h3 class="font-bold text-xl mb-2">Clinical Professionalism</h3>
          <p class="text-sm text-slate-600">
            AATS handlers participate in ongoing continuing education,
            prioritizing explicit safety protocols, clear reliability, and
            clinical attention to detail.
          </p>
        </div>
      </div>
    </section>

    <section>
      <aside>

        <h3 class="font-bold text-xl mb-2">Senior Care Programs </h3>
        visual side | content side bullets:
        <ul class="ps-8 list-disc">
          <li>
            Social Connection: Creates a natural bridge that readily initiates
            communication among seniors, handlers, and peers.
          </li>
          <li>
            Cognitive Stimulation: Sparks positive emotional recall, prompting
            seniors to share stories of past pets and experiences.
          </li>
          <li>
            Physical Motivation: Encourages physical movement and motor skills
            through actions like grooming, walking, or petting.
          </li>
          <li>
            De-escalation: Clinically proven to lower heart rates, blood pressure,
            and release endorphins to help bring agitated individuals into a calm
            state.
           </li>
        </ul>
      </aside>
<aside>
<h3 class="font-bold text-xl mb-2">School & Youth Programs</h3>
  Literacy/Reading Tracks: Provides a completely judgment-free, relaxed setting allowing students to practice reading aloud at their own pace.

Educational Workshops: Teaches children dog safety, basic canine body language, and responsibility benchmarks.

Life Skills / Special Needs Support: Utilizes low-pressure actions (waiting patiently for a turn, filling water bowls) to build dynamic foundational social behaviors.
</aside>
    </section>

    <section class="bg-blue-50 rounded-2xl p-8 text-center my-16">
      <h2 class="text-2xl font-bold text-slate-900">
        Featured Programs & Customized Solutions
      </h2>
      <p class="text-slate-600 mt-2 max-w-2xl mx-auto">
        While the examples above represent our most frequently requested
        programs, we specialize in developing customized sessions tailored to
        your specific objectives. Please contact us directly to design a program
        for your facility's unique needs.
      </p>

      <div class="mt-6">
        <a
          href="/contact"
          class="inline-block bg-slate-900 text-white font-medium px-6 py-2.5 rounded-lg hover:bg-slate-800 transition"
        >
          Request Custom Session
        </a>
      </div>
    </section>
  </article>
</BaseLayout>
