---
const { title = "AATSMA" } = Astro.props;

import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
     
</head>

<body class="bg-gray-50 antialiased font-sans">

<Header />

<!-- Content -->
<slot />

<Footer />


</body>
</html>

<style is:global>
    /* 1. Essential for any page using Alpine */
    [x-cloak] { display: none !important; }

    /* 2. Affects the root HTML element */
    html { margin-top: 0 !important; }
</style>